/* レスポンシブに対応するようにbox sizeに対応している */
*{
  
  box-sizing: border-box;
  margin:0;
  padding: 0;

}

h1 {
  font-size:40px;
  color:aliceblue;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
}

header {
  text-align: center;
  background-color: rgba(10, 76, 105, 0.6);
  padding:4px 10%;
  margin-bottom: 50px;

}

.app{
  background-image: url(./images/2daocean.jpg); 
  /* background-image: url(../src/images/indaocean-1920.jpg);  */
  height: 100vh;
  background-repeat: no-repeat;
}

.taskCard {
  width:250px;
  padding: 10px 25px;;
  margin: 10px 1%;
  background-color: rgb(228,228,228);
  border-radius: 5px;

} 

.taskCardTitleInputArea {
  margin-bottom: 10px;
  width:30%;
  cursor:pointer;

}

.taskCardTitleInput {
  width:80px;
  font-size: 1.1rem;
  padding: 4px 6px;
  border-radius: 3px;
  border: none;
  outline:none;

}

.taskAddInput {
  width: 100%;
  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  outline: none;

}

.taskBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(75,75,75);

}

.taskText {
  margin-left: 12px;
}

.taskTrashButton {
  /* カーソルをあてた時にポインターを追加 */
  cursor:pointer;
  margin-right: 9px;
  border:none;
}

.taskCardsArea {
  /* 横並びにするCSS */
  display: flex;
  /* ボタンをflex最初に持ってくる操作 */
  justify-content: flex-start;
  /* 縦を揃えるために行う */
  align-items: flex-start;
  /* タスクを増やすと折り返してくれるプロパティ */
  flex-wrap:wrap;
}

.addTaskCardButtonArea {
  margin-left: 1%;
  margin-top: 25px;

}

.addTaskCardButton {
  padding: 10px 18px;
  /* 丸くなるためのテクニック */
  border-radius: 9999px;
  font-size: 30px;
  background-color: rgb(221,194,162);
  box-shadow: 3px 3px 8px 1px rgb(0 0 0 / 40%); ;
  /* カーソルをあてるプロパティ */
  cursor: pointer;
  /* 親要素にtransitionを設定させると.addTaskCardButton:hoverはふわっとした動きになる */
  transition:all 0.3s;
}

.addTaskCardButton:hover {
  /* ホバーした時にシャドーを消す */
  box-shadow: none;
  /* ホバーした時にシャドーの3px分もどしてやるとボタンを押しているようなCSSになる */
  transform: translate(3px,3px);


}


.taskCardTitlAndTaskCardDeleteButtonArea {
  /* 親要素にdisplay:flex;を入れることでxとTodayが横並びになる */
  display:flex;
  /* xとTodayの間を開けるプロパティとしてjustify-content:space-between ;を使う */
  justify-content:space-between;
}

.taskCardDeleteButton {
  /* xの周りの枠をなくす */
  border: none;
  background-color: rgb(228,228,228);
  cursor:pointer;
  font-size:16px;
  color: rgb(158,46,46);

}